In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in vine table csv as df 
vine_table_df = pd.read_csv('vine_table.csv', low_memory=False)
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5.0,0.0,0.0,N,Y
1,R36ED1U38IELG8,5.0,0.0,0.0,N,Y
2,R1UE3RPRGCOLD,2.0,1.0,1.0,N,Y
3,R298788GS6I901,5.0,0.0,0.0,N,Y
4,RNX4EXOBBPN5,1.0,1.0,1.0,N,Y

In [3]:
# create a new df to retrieve all rows where 'total_votes' are >=20
vine_tot_votes_df = vine_table_df.loc[vine_table_df['total_votes'] >= 20].reset_index(drop=True)
vine_tot_votes_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
1,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
2,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
3,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
4,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
5,R2MDI1TP46VSYD,3.0,9.0,21.0,N,Y
6,R2JM687C525WR9,3.0,33.0,33.0,Y,N
7,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N
8,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y
9,R1F2I723WRK5QV,5.0,20.0,20.0,N,Y

In [4]:
# create a new df to retrieve all rows where # of 'helpful_votes'/'total_votes' are >= 50%
vine_helpful_votes_df = vine_tot_votes_df.copy()
vine_helpful_votes_df['helpful_votes_percentage'] = vine_helpful_votes_df['helpful_votes']/vine_helpful_votes_df['total_votes']
vine_helpful_votes_df = vine_helpful_votes_df.loc[vine_helpful_votes_df['helpful_votes_percentage'] >= 0.5].reset_index(drop=True)
vine_helpful_votes_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
0,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y,0.851852
1,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y,1.000000
2,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N,0.950000
3,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N,0.728395
4,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N,0.956522
5,R2JM687C525WR9,3.0,33.0,33.0,Y,N,1.000000
6,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N,1.000000
7,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y,1.000000
8,R1F2I723WRK5QV,5.0,20.0,20.0,N,Y,1.000000
9,RRO8C1IVZMD6H,5.0,22.0,22.0,N,N,1.000000

In [5]:
# create a new df to retrieve all rows where 'vine' == Y
paid_reviews_df = vine_helpful_votes_df.loc[vine_helpful_votes_df['vine'] == 'Y'].reset_index(drop=True)
paid_reviews_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
0,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N,0.950000
1,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N,0.956522
2,R2JM687C525WR9,3.0,33.0,33.0,Y,N,1.000000
3,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N,0.925926
4,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N,0.875000
5,RZFLN8FD5Y2M6,4.0,25.0,28.0,Y,N,0.892857
6,R1V8NDXD9SETO5,3.0,320.0,352.0,Y,N,0.909091
7,R2H4VEFWHP50M3,5.0,26.0,36.0,Y,N,0.722222
8,R3DP6Y0A8WXUOV,5.0,21.0,21.0,Y,N,1.000000
9,R49L85GZIKH4D,3.0,33.0,36.0,Y,N,0.916667

In [6]:
# create a new df to retrieve all rows where 'vine' == N
unpaid_reviews_df = vine_helpful_votes_df.loc[vine_helpful_votes_df['vine'] == 'N'].reset_index(drop=True)
unpaid_reviews_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
0,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y,0.851852
1,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y,1.000000
2,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N,0.728395
3,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N,1.000000
4,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y,1.000000
5,R1F2I723WRK5QV,5.0,20.0,20.0,N,Y,1.000000
6,RRO8C1IVZMD6H,5.0,22.0,22.0,N,N,1.000000
7,R2GHOWIWDVLN18,1.0,28.0,36.0,N,Y,0.777778
8,R30PJ9XUHFTY5D,5.0,42.0,43.0,N,N,0.976744
9,R2F7D9N3SSQC20,4.0,32.0,34.0,N,N,0.941176

In [7]:
# get total number of paid reviews
tot_reviews_paid = paid_reviews_df['review_id'].count()
tot_reviews_paid

1266

In [8]:
# get total number of 5 star paid reviews
five_star_paid = paid_reviews_df[(paid_reviews_df['star_rating'] >= 5)]
five_star_paid = five_star_paid['review_id'].count()
five_star_paid

432

In [9]:
# get % of 5 star paid reviews
five_star_percentage = (five_star_paid/tot_reviews_paid) * 100
five_star_percentage

34.12322274881517

In [10]:
# get total number of unpaid reviews
tot_reviews_unpaid = unpaid_reviews_df['review_id'].count()
tot_reviews_unpaid

62028

In [11]:
# get total number of 5 star unpaid reviews
five_star_unpaid = unpaid_reviews_df[(unpaid_reviews_df['star_rating'] >= 5)]
five_star_unpaid = five_star_unpaid['review_id'].count()
five_star_unpaid

29982

In [12]:
# get % of 5 star unpaid reviews
five_star_percentage_unpaid = (five_star_unpaid/tot_reviews_unpaid) * 100
five_star_percentage_unpaid

48.33623524859741